@font-face {
    font-family: Lighthaus;
    src: url("Lighthaus.ttf");
}

body {
    font-size: 2em;           // Проверить на других устройствах
    font-family: Lighthaus;
    background-image: url('background.jpg');
    background-size: contain;
}

strong {
	color: #BF0E0E;
}

i {
	color: #1E1E4A;

blockquote {
       	margin: 0;
}

p {
	margin: 0;
}

h1, h2 {
	text-align: center;
}

ol {
	margin: auto;
}

figure {
	margin: auto;
}
